[Unit]
Description=Podman proxy service

[Service]
Type=simple
StandardOutput=journal
Environment="PODMAN_PROXY_USERNAME={{ lookup('ansible.builtin.env', 'PODMAN_PROXY_USERNAME') }}"
Environment="PODMAN_PROXY_PASSWORD={{ lookup('ansible.builtin.env', 'PODMAN_PROXY_PASSWORD') }}"
ExecStart=/opt/podman_proxy/run

[Install]
WantedBy=default.target